<!DOCTYPE html>
<html>
  <head>
    <title>todgru: Trimet Bus Locations</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <meta name="description" content="Location of all Trimet bus and trains.">
    <meta name="author" content="todgru">
    <link rel="stylesheet" type="text/css" href="/css/map.css">
  </head>
  <body>
    <div id="map-canvas"></div>
    <!-- late load the js -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/maplabel/src/maplabel.js"></script>
    <script src="/js/vendor/underscore_1.8.3.min.js"></script>
    <script src="/js/Api.js"></script>
    <script src="/js/map.js"></script>
  </body>
</html>
